{% extends 'base.html.twig' %}

{% block title %}Détails Réservation{% endblock %}

{% block body %}
    <section class="reservation-detail-container my-5 py-5">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-7">
                    <div class="detail-card shadow-lg border-0 rounded">
                        <div class="form-header text-center bg-jaune py-3">
                            <h3>Informations de la réservation</h3>
                        </div>
                        <div class="detail-card-body p-4">
                            <table class="table table-bordered">
                                <tbody>
                                    <tr>
                                        <th>ID de la réservation</th>
                                        <td>{{ reservation.id }}</td>
                                    </tr>
                                    <tr>
                                        <th>Date de réservation</th>
                                        <td>{{ reservation.dateReservation ? reservation.dateReservation|date('Y-m-d H:i:s') : '' }}</td>
                                    </tr>
                                    <tr>
                                        <th>Statut actuel</th>
                                        <td>{{ reservation.statutReservation }}</td>
                                    </tr>
                                </tbody>
                            </table>

                            <div class="d-flex justify-content-end align-items-center mb-4 gap-2">
                                <a href="{{ path('app_reservation_index') }}" class="btn btn-outline-secondary btn-sm" title="Retour à la liste">
                                    <i class="bi bi-arrow-left-circle"></i>
                                </a>
                                {% if is_granted('ROLE_PRO') or is_granted('ROLE_ADMIN') %}
                                <a href="{{ path('app_reservation_edit', {'id': reservation.id}) }}" class="btn btn-outline-warning btn-sm" title="Modifier">
                                    <i class="bi bi-pencil-square"></i>
                                </a>
                                {% endif %}
                                {{ include('reservation/_delete_form.html.twig') }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
